/* main areas
============================================ */
html {font-size:100%;padding:0;margin:0;background:#256921;}
body {font-size:10px;padding:0;margin:0;background:#256921;}
.container {padding:22px 0 35px;}
.container-wrap .container:first-child {border-top:none;}
body .container-wrap:first-child + .container-wrap .container:first-child {border-top:none;padding-top:20px;} /* skip masthead border top - this is the hero container */
body.home #main .container + .container {padding-bottom:16px;} /* in case homepage features 1 row of recipes */
.masthead {background:url(../img/header-background.png) 50% bottom #256921 no-repeat;border-bottom:7px solid #ffc900;box-shadow:1px 0px 12px #000;z-index:1;position:relative;}
.masthead .container {padding:0;border-top:none!important;padding:45px 0 0;position:relative;}
.masthead .span12 {position:relative;}
#main  {background:url(../img/background01.png) top center #a1170d;position:relative;z-index:1;}
.prizes #main  {padding-top:20px;}
.edgetop {background:url(../img/shrededge.png) repeat-x 0 -7px;height:20px;margin-top:-20px;z-index:2;position:relative;}
.edgebottom {background:url(../img/shrededge.png) repeat-x 0 -26px;height:20px;z-index:2;position:relative;}
/* footer */
footer a {color:#fff;border-bottom:1px dotted #fff;}
footer a:hover {color:#fff;border-bottom:1px solid #fff;}
footer {background:#256921;padding-bottom:100px;color:#fff;text-align:center;position:relative;z-index:0;margin-top:-26px;padding-top:26px;}
footer .container {border-top:none!important;}

/* nav and logo
============================================ */
.nav  {float:right;margin:0;}
.nav li {display:inline;font-family:'Source Sans Pro', sans-serif;}
.nav li a {text-transform:uppercase;background:#c4a32e;display:inline-block;color:#222;font-size:1.8em;height:2.0em;line-height:2.0em;margin-left:0.4em;padding:0 1.4em 0 1.4em;float:left;font-weight:900;border-top:2px solid #ffc900;border-right:2px solid #ffc900;border-left:2px solid #ffc900;border-top-left-radius: 4px;border-top-right-radius: 4px;text-decoration:none;
-webkit-transition-property: background;
-webkit-transition-duration: 190ms;
-moz-transition-property: background;
-moz-transition-duration: 190ms;
}
.nav li a:hover {background:#ffc900;color:#000;}
.nav li.current a {background:#ffc900;color:#000;}
.nav li#main-logo a {position:absolute;left:-12px;top:-234%;padding:0;width:184px;height:auto;border:none;margin:0;background:none;display:block;}
.nav li#main-logo a:hover {}
.del-monte-logo {width:133px;margin:11px 0 0 10%;}
footer .del-monte-logo {width:120px;display:block;margin:0 auto;}
.masthead .del-monte-logo {position: absolute;top: 2px;left: 120px;margin: 0;width: 37px;}
.signin {font-family:'Source Sans Pro', sans-serif;font-size:1.3em;position:absolute;top:0;right:2px;color:#9cd099;text-transform:uppercase;font-weight:600;background:#21611e;padding:0.2em 1em 0.3em;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;
-webkit-transition-property: background;
-webkit-transition-duration: 210ms;
-moz-transition-property: background;
-moz-transition-duration: 210ms;
}
.signin:hover {color:#fff;background:#1a5217;}

/* hero
============================================ */
.hero {background:url(../img/tomatoes-for-sauce.jpg) center top;z-index:0;position:relative;}
img.heroimage {margin-top:16px;}
.hero h1 {margin-top:0.3em;}
.hero h4 {margin-right:3%;color:#fff;}
.gallery .hero h1, .prizes .hero h1 {margin: 0 0 0.3em 0;border-bottom:none;padding-bottom:0;margin-top:0.3em;}


/* base header and font styles
============================================ */
h1, h2, h3,h4, h5, h6 {font-weight:normal;font-family:'Source Sans Pro', sans-serif;color:#ad1411;}
h1 {font-size: 3.7em;margin: 0 0 0.48em 0;line-height:1.1em;font-weight:900;text-transform:uppercase;border-bottom:3px solid #ffc900;padding-bottom:0.5em;color:#fff;}
h1 span {font-size: 0.8em;font-weight:400;}
h2 {font-size: 2.8em;margin: 0 0 0.4em 0;line-height:1.2em;font-weight:900;text-transform:uppercase;border-bottom:3px solid #ffc900;padding-bottom:0.4em;}
h3 {font-size: 2.0em;margin: 0 0 0.6em 0;line-height:1.3em;font-weight:600;}
h4 {font-size: 2.0em;margin: 0 0 0.6em 0;line-height:1.4em;font-weight:400;color:#333;}
h4 span {font-weight:700;}
h5 {font-size: 1.7em;margin: 0 0 0.7em 0;line-height:1.4em;font-weight:400;}
h6 {font-size: 1.6em;margin: 0 0 0.8em 0;line-height:1.4em;font-weight:400;}
p {font-size:1.6em;line-height:1.4em;font-family:'Source Sans Pro', sans-serif;margin-bottom:0.8em;}
.reg {font-size:0.7em;}

/* adjustments */
.prizes .thearticles article h3 {font-size: 2.0em;line-height:1.2em;font-weight:700;text-align: center;}
.prizes .thearticles article h3 a {color:#ad1411;}
.prizes .thearticles article h3 a:hover {color:#333;}

.prizes .thearticles article h4 {text-align: center;margin-bottom:0;}
.prizes .thearticles article .info p {text-align: center;margin-bottom:0.8em;}

.thearticles article h3 {font-size:1.7em;line-height:1.2em;font-weight:700;color:#333;padding:10px 10px 0;}
.prizes .thearticles article h3 {padding:16px 10px 0;}
.thearticles article h3 a {color:#333;}
.thearticles article h3 a:hover {color:#ad1411;}
.thearticles article .info p{margin:0;}

h2 span, h3 span, h5 span, h6 span {font-size:0.6em;font-weight:600;text-transform:none;}
#main h2 {position:relative;}
#main h2 span {right:0;position:absolute;bottom:0.4em;}
a {color:#ad1411;text-decoration:none!important;}
a:hover {color:#111;}
h6.sort {color:#666;border-bottom:3px solid #ffc900;padding-bottom:0.8em;}
h6.sort a {color:#ad1411;font-weight:700;text-transform:uppercase;}
h6.sort a:hover {color:#222;}

/* buttons
============================================ */
.cta-wrap {padding-top:0.4em;margin-bottom:1em;}
.cta-wrap-center {text-align:center;}
.cta1 {padding:7px 20px;font-weight:900;font-size:1.1em;display:inline-block;background:#d8b137;border-radius:4px;color:#ad1411;border:2px solid #c39600;
background: -moz-linear-gradient(top,  #fec800 1%, #d6a400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fec800), color-stop(100%,#d6a400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fec800 1%,#d6a400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fec800 1%,#d6a400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fec800 1%,#d6a400 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fec800 1%,#d6a400 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec800', endColorstr='#d6a400',GradientType=0 );*/ /* IE6-9 */
}
.cta1:hover {color:#ad1411;background:#ffc900;text-decoration:none;}
.pagenavi .cta1 {border:none;padding:5px 10px 0 0;background:none;}
.pagenavi .cta-wrap.alignright .cta1 {border:none;padding:5px 0 0 10px;background:none;}
.pagenavi .cta-wrap, .pagenavi p {margin-bottom:0;}

/* gallery
============================================ */
.thearticles article  {margin-bottom:28px;}

.thearticles article > div {border:2px solid #ad1411;border-radius:8px;background:white;box-shadow:none;}
.thearticles article > div {border:none;border-radius:8px;background:white;box-shadow:0 0 3px #111;}
.lt-ie9 .thearticles article > div {border:1px solid #777;}

.thearticles article .info {padding:11px 10px 11px;position:relative;}
.rating {font-size:2.5em;color:#ccc;position:absolute;right:14px;top:10px;}


/* utility
============================================ */
img {width:100%;height:auto;display:block;}
.first {padding-bottom:0!important;}
.dreverse {float:right!important;}
.reverse {float:right!important;}
.m, .m1, .m2 {display:none!important;}
.alignleft{text-align:left;}
.aligncenter{text-align:center;}
.alignright{text-align:right;}
b {font-weight:inherit;}
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; width:0;height:0;}
.clear4 {clear:left;}

/* misc
============================================ */
.pageinfowrap p {margin-top:8px;}


/* responsive
============================================ */
@media (max-width: 979px) {
.rating {display:block;position:static;padding:5px 0 0;}
img.heroimage {margin-top: 30px;}
}

@media (min-width: 767px) and (max-width: 979px) {
/* specific adjustments */
.thearticles article  {width: 228px;}
.home .thearticles article  {width: 166px;}
.clear4 {clear:none!important;}
.masthead {background: url(../img/header-background.png) 40% bottom #256921 no-repeat;}


}

@media (max-width: 767px) {
body {font-size:9px;}
.clear4 {clear:none!important;}
.m {display:inherit!important;}
.container {margin-left:18px!important;margin-right:18px!important;}
.dreverse {float:none!important;}

/* mobile 12 col grid */
.row {margin-left:-3%;}
[class*="span"] {width:97%;margin-left:3%;float:left;}
.mspan1 {width:8.333333333333333%;}
.mspan2 {width:13.66666666666667%;}
.mspan3 {width:22%;}
.mspan4 {width:30.33333333333333%;}
.mspan5 {width:38.66666666666667%;}
.mspan6 {width:47%;}
.mspan7 {width:55.33333333333333%;}
.mspan8 {width:63.66666666666666%;}
.mspan9 {width:72%;}
.mspan10 {width:80.33333333333333%;}
.mspan11 {width:91.66666666666666%;}
.mspan12 {width:97%;}
.m-4-6-12 > [class*="span"] {width:30.33333333333333%;}
.m-4-0-6 > [class*="span"] {width:30.33333333333333%;}
.m-3-4-6 > [class*="span"] {width:23%;}

/* specific adjustments */
h1 {font-size: 3.4em}
.cta1 {padding:8px 10px;}
.heroimage {padding-bottom:16px;}
.hero h1 {margin-top:0;}
.thearticles article h3 {font-size:1.9em;}
h6{font-size:1.8em;}
.nav li a {margin-left:0.25em;padding:0 0.9em 0.1em;}
.nav li:first-child + li > a {margin-left:0;}
.nav li#main-logo a {top:-210%;padding:0;width:160px}
.masthead {background: url(../img/header-background.png) 26% bottom #256921 no-repeat;}
body .container-wrap:first-child + .container-wrap .container:first-child {border-top:none;padding-top:14px;}
.del-monte-logo {width:auto;margin: 20px 0 0 0;}
.masthead .del-monte-logo {left: 114px;}
.pageinfowrap p {font-size:1.8em;}
.pagenavi p.cta-wrap .cta1 {margin-left:-9px;}
.pagenavi p.cta-wrap.alignright .cta1 {margin-right:-9px;}
.cta1 {font-size:1.2em;}
}

@media (max-width: 600px) {
.m {display:none!important;}
.m1 {display:inherit!important;}

.m1span1 {width:8.333333333333333%;}
.m1span2 {width:13.66666666666667%;}
.m1span3 {width:22%;}
.m1span4 {width:30.33333333333333%;}
.m1span5 {width:38.66666666666667%;}
.m1span6 {width:47%;}
.m1span7 {width:55.33333333333333%;}
.m1span8 {width:63.66666666666666%;}
.m1span9 {width:72%;}
.m1span10 {width:80.33333333333333%;}
.m1span11 {width:91.66666666666666%;}
.m1span12 {width:97%;}
.m-4-6-12 > [class*="span"] {width:47%;}
.m-4-0-6 > [class*="span"] {width:30.33333333333333%;}
.m-3-4-6 > [class*="span"] {width:30.33333333333333%;}

/* specific adjustments */
.thearticles article h3 {font-size:1.8em;}
.nav li a {padding:0 0.7em 0.1em;}
.nav li#main-logo a {top: -210%;padding: 0;width: 150px;}
.home .hero h4 {margin-right: 0;width: 60%;}
img.heroimage {width: 44%;margin: 0 auto;position: absolute;top: 13.5em;right: 0;}
.container {padding: 25px 0 28px;}
.masthead .del-monte-logo {left: 103px;}

}

@media (max-width: 450px) {
.container {margin-left:11px!important;margin-right:11px!important;}
.nav  {float:none;margin:0 auto;text-align:center;}
.nav li a {font-size:1.7em;height:1.8em;line-height:1.8em;float:none;padding-bottom:0.1em;}
.nav li.sign-in a {}
.nav li#main-logo a {position:static;display:block;}
.nav li#main-logo a:hover {color:#ccc;}
.nav li#main-logo a {margin:-80px auto 0;width: 130px;}
.masthead .del-monte-logo {display:none;}
.home .hero h4 {width: auto;width:auto;}
img.heroimage {width: 68%;margin: 0 auto;position: static;}
.home .hero  {text-align:center;}/* center home only */
.hero  {background-image:none;background-color:#870505;position:relative;z-index:0;
background: #870505; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #dd3030 1%, #870505 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#dd3030), color-stop(100%,#870505)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #dd3030 1%,#870505 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #dd3030 1%,#870505 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #dd3030 1%,#870505 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #dd3030 1%,#870505 100%); /* W3C */
}
}

@media (max-width: 350px) {
body {font-size:8px;padding:0;margin:0;}
.m, .m1 {display:none!important;}
.m2 {display:inherit!important;}
.m2span1 {width:8.333333333333333%;}
.m2span2 {width:13.66666666666667%;}
.m2span3 {width:22%;}
.m2span4 {width:30.33333333333333%;}
.m2span5 {width:38.66666666666667%;}
.m2span6 {width:47%;}
.m2span7 {width:55.33333333333333%;}
.m2span8 {width:63.66666666666666%;}
.m2span9 {width:72%;}
.m2span10 {width:80.33333333333333%;}
.m2span11 {width:91.66666666666666%;}
.m2span12 {width:97%;}
.m-4-6-12 > [class*="span"] {width:97%;}
.m-4-0-6 > [class*="span"] {width:47%;}
.m-3-4-6 > [class*="span"] {width:47%;}

/* adjustments */
.masthead {background: url(../img/header-background.png) 29.5% bottom #256921 no-repeat;}
.nav li a {font-size:1.9em;height:1.8em;line-height:1.8em;padding:0 0.9em 0.1em;}
.del-monte-logo {width:28%;margin: 0 auto;}
img.heroimage {width: 80%;}
.hero  {text-align:center;} /* center everything else */
.thearticles article h3 {font-size:2.0em;}
h6{font-size:1.7em;}
.signin {font-size:1.5em;right:-5px;}
p {font-size:1.7em;}
}