html {font-size:100%;padding:0;margin:0;}
body {font-size:10px;padding:0;margin:0;}
.container {padding:12px 0 14px;}

#masthead {background:#222;}
#masthead .container {padding:0;}
#masthead .span12 {position:relative;}
.nav  {float:right;}
.nav li {display:inline;}
.nav li a {display:inline-block;padding:15px 20px;font-size:16px;margin-left:10px;color:#f1f1f1;}
.nav li a.signin {background:#3b863a;}
#main-logo {float:left;font-size:30px;color:#fff;line-height:49px;color:#fff;font-weight:bold;}
#main-logo a {color:#fff;text-decoration:none;}

footer {background:#777;padding-bottom:210px;color:#fff;padding-top:20px;}

img {width:100%;height:auto;display:block;}

h1, h2, h3,h4, h5, h6 {font-weight:normal;font-size:1.4em;}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {font-size:0.8em;}

p {line-height:1.5;margin-bottom: 12px;font-size:1.0em;}

.cta-wrap {padding-top:10px;}
.cta-wrap-center {text-align:center;}
.cta1 {display:inline-block;background:#444;padding:8px 18px;color:#fff;font-weight:bold;font-size:16px;}
.cta1:hover {color:#fff;background:#222;text-decoration:none;}
.enter {background:#3b863a;}
.enter:hover {background:#222;}
.recipecontainer {border:1px solid #ccc;border-radius:8px;}
.recipecontainer img {display:block;}
.rating {font-size:39px;color:#ccc;position:absolute;right:14px;top:4px;letter-spacing: -3px;}

.usergallery .span2 {margin-bottom:23px;}
.usergallery  {padding-top:20px;}

.pagenavi {font-size:16px;}
.pageinfowrap {padding-top:7px;}

/* utility */
.reverse {float:right!important;}
.md {display:none;}
.sm {display:none;}
.xs {display:none;}
.alignleft{text-align:left;}
.aligncenter{text-align:center;}
.alignright{text-align:right;}
b {font-weight:bold;}
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; width:0;height:0;}


@media (max-width: 979px) {
.rating {font-size:39px;color:#ccc;position:absolute;right:14px;top:4px;letter-spacing: -3px;display:block;position:static;padding:20px 0 0;line-height:0;}
.recipemeta p {margin-bottom:0;font-size:12px;}
}

@media (min-width: 767px) && (max-width: 979px) {
}


@media (max-width: 767px) {
.container {padding-left:0!important;padding-right:0px!important;}
.container .row {margin-left:-3%;} /* 3.1? erm */
.container .row [class*="span"] {width:97%;margin-left:3%;float:left;}
.container .row .mspan1 {width:13.66666666666666%;}
.container .row .mspan2 {width:30.33333333333333%;}
.container .row .mspan3 {width:47%;}
.container .row .mspan4 {width:63.66666666666666%;}
.container .row .mspan5 {width:80.33333333333333%;}
.container .row .mspan6 {width:97%;}



}

@media (max-width: 600px) {
.nav li a {font-size:13px;padding:16px 8px 5px 8px;}
.nav li a.signin {font-weight:bold;background:none;color:#fff;}
.cta1 {font-size: 14px;}
.cta-wrap {text-align:center;}


}

@media (max-width: 500px) {
.container .row .m1span1 {width:13.6666666666666%;}
.container .row .m1span2 {width:30.3333333333333%;}
.container .row .m1span3 {width:47%;}
.container .row .m1span4 {width:63.6666666666666%;}
.container .row .m1span5 {width:80.3333333333333%;}
.container .row .m1span6 {width:97%;}
#main-logo {font-size:25px;}
.nav li a {font-size:12px;padding-top:18px;}

}

@media (max-width: 400px) {
.sm {display:none;}
.xs {display:block;}
.cta1 {padding:7px 12px;}
#main-logo {float:none;font-size:30px;color:#ccc;line-height:49px;color:#fff;font-weight:bold;text-align:center}
.nav {text-align:center;float:none;}
.nav li a {font-size:13px;padding:5px 9px 11px 9px;text-align:center;}
.nav li a.signin {font-weight:bold;background:none;color:#fff;}
}


@media (max-width: 340px) {
.container .row .m2span1 {width:13.66666666666666%;}
.container .row .m2span2 {width:30.33333333333333%;}
.container .row .m2span3 {width:47%;}
.container .row .m2span4 {width:63.66666666666666%;}
.container .row .m2span5 {width:80.33333333333333%;}
.container .row .m2span6 {width:97%;}

.usergallery .span2 {width: 46.969696969697%;float:left; margin-left:1.515151515152%;margin-right:1.515151515152%;}
.clearmed {display:none;}
.clearsmall {display:block;}
.container>.row .small32 {width: 96.969696969697%;float:none; margin-left:1.515151515152%;margin-right:1.515151515152%;}
}
