/* main
============================================ */
html {font-size:100%;padding:0;margin:0;}
body {font-size:10px;padding:0;margin:0;}
.container {padding:18px 0 21px;}
.container-wrap .container:first-child {border-top:1px solid #ddd;}
body .container-wrap:first-child + .container-wrap .container:first-child {border-top:none;}
footer {background:#777;padding-bottom:210px;color:#fff;text-align:center;margin-top:20px;}
footer .container {border-top:none!important;}
.masthead {background:#333;padding:0;}
.masthead .container {padding:0;border-top:none!important;}
.masthead .span12 {position:relative;}

/* nav and logo
============================================ */
.nav  {float:right;margin:0;}
.nav li {display:inline;font-family:'Source Sans Pro', sans-serif;}
.nav li a {display:inline-block;color:#fff;font-size:1.6em;height:3.1em;line-height:3.1em;padding-left:1em;padding-right:1em;float:left;}
.nav li.sign-in a {background:#000;}
.nav li#main-logo a {color:#fff;font-weight:700;position:absolute;left:0;font-size:2.0em;top:-12%;padding:0;}
.nav li#main-logo a:hover {color:#ccc;}

/* hero area
============================================ */


/* base header and font styles
============================================ */
h1, h2, h3,h4, h5, h6 {font-weight:normal;font-family:'Source Sans Pro', sans-serif;color:#555;}
h1 {font-size: 2.9em;margin: 0 0 0.6em 0;line-height:1.1em;font-weight:700;}
h2 {font-size: 2.5em;margin: 0 0 0.4em 0;line-height:1.2em;font-weight:700;}
h3 {font-size: 2.0em;margin: 0 0 0.6em 0;line-height:1.3em;font-weight:600;}
h4 {font-size: 1.8em;margin: 0 0 0.6em 0;line-height:1.4em;font-weight:400;}
h5 {font-size: 1.7em;margin: 0 0 0.7em 0;line-height:1.4em;font-weight:400;}
h6 {font-size: 1.6em;margin: 0 0 0.8em 0;line-height:1.4em;font-weight:400;}
p {font-size:1.6em;line-height:1.4em;font-family:'Source Sans Pro', sans-serif;margin-bottom:0.8em;}

/* adjustments */
.allphotos article h3 {font-size:1.7em;line-height:1.4em;font-weight:600;}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {font-size:0.6em;}

/* buttons
============================================ */
.cta-wrap {padding-top:10px;margin-bottom:1em;}
.cta-wrap-center {text-align:center;}
.cta1 {padding:8px 16px;font-weight:600;font-size:1.1em;color:#fff;display:inline-block;background:#555;}
.cta1:hover {color:#fff;background:#111;text-decoration:none;}
/*.enter {background:#3b863a;}
.enter:hover {background:#111;}*/

/* photo gallery
============================================ */
.allphotos article  {margin-bottom:28px;}
.allphotos article > div {border:1px solid #aaa;border-radius:8px;}
.allphotos article h3 {padding:10px 10px 0}
.allphotos article .photoinfo {padding:10px;position:relative;}
.rating {font-size:2.5em;color:#ccc;position:absolute;right:14px;top:10px;}
.allphotos article .photoinfo p{margin:0;}

/* footer
============================================ */
footer a {color:#fff;}
footer a:hover {color:#fff;}

/* utility
============================================ */
img {width:100%;height:auto;display:block;}
.first {padding-bottom:0!important;}
.dreverse {float:right!important;}
.reverse {float:right!important;}
.m, .m1, .m2, .m3 {display:none!important;}
.alignleft{text-align:left;}
.aligncenter{text-align:center;}
.alignright{text-align:right;}
b {font-weight:bold;}
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; width:0;height:0;}
.clear4 {clear:left;}

/* responsive
============================================ */
@media (max-width: 979px) {
.rating {display:block;position:static;padding:5px 0 0;}

}

@media (min-width: 767px) and (max-width: 979px) {
/* specific adjustments */
.allphotos article  {width: 228px;}
.clear4 {clear:none!important;}
}

@media (max-width: 767px) {
.clear4 {clear:none!important;}
.m {display:inherit!important;}
.container {margin-left:11px!important;margin-right:11px!important;}
.dreverse {float:none!important;}

/* mobile 6 col grid // 2-2-2 & 3-3 */
.row {margin-left:-3%;}
[class*="span"] {width:97%;margin-left:3%;float:left;}
.mspan1 {width:13.66666666666667%;}
.mspan2 {width:30.33333333333333%;}
.mspan3 {width:47%;}
.mspan4 {width:63.66666666666667%;}
.mspan5 {width:80.33333333333333%;}
.mspan6 {width:97%;}
.mobile236 > div, .mobile236 > article  {width:30.33333333333333%;}
.mobile203 > div, .mobile203 > article  {width:30.33333333333333%;}

/* specific adjustments */
.cta1 {padding:8px 10px;}
.heroimage {padding-bottom:16px;}

}

@media (max-width: 600px) {
.m1 {display:inherit!important;}
.m {display:none!important;}
body {font-size:9px;padding:0;margin:0;}
.m1span1 {width:13.6666666666667%;}
.m1span2 {width:30.3333333333333%;}
.m1span3 {width:47%;}
.m1span4 {width:63.6666666666667%;}
.m1span5 {width:80.3333333333333%;}
.m1span6 {width:97%;}
.mobile236 > div, .mobile236 > article {width:47%;}
.mobile203 > div, .mobile203 > article  {width:30.33333333333333%;}

/* specific adjustments */
.cta1 {font-size:1.2em;}
.allphotos article h3 {font-size:1.8em;}

}

@media (max-width: 450px) {
.nav  {float:none;margin:0 auto;text-align:center;}
.nav li a {font-size:1.6em;height:1.8em;line-height:1.8em;float:none;padding-bottom:0.3em;}
.nav li.sign-in a {background:none;}
.nav li#main-logo a {position:static;font-size:2.1em;padding:0.2em 0 0 0;display:block;}
.nav li#main-logo a:hover {color:#ccc;}
}

@media (max-width: 350px) {
.m2 {display:inherit!important;}
.m, .m1 {display:none!important;}
.m2span1 {width:13.66666666666667%;}
.m2span2 {width:30.33333333333333%;}
.m2span3 {width:47%;}
.m2span4 {width:63.66666666666667%;}
.m2span5 {width:80.33333333333333%;}
.m2span6 {width:97%;}
.mobile236 > div, .mobile236 > article  {width:97%;}
.mobile203 > div, .mobile203 > article  {width:47%;}

}